<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog DevHouse</title>
</head>
<body>
    <font color="red"><h1>DH News</h1></font>
    <strong><p>Postado em 08/07/2021</p></strong>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, praesentium deleniti eius doloremque labore fuga doloribus eaque aliquid consectetur, obcaecati quas expedita quam reprehenderit corrupti voluptates voluptatibus commodi nisi voluptatum?</p>
    <img src="/img/destaque.webp" alt="" />
    <strong><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, blanditiis</h2></strong>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam reiciendis mollitia accusamus, voluptates excepturi velit nulla ratione provident odit doloremque nisi laborum doloribus id, nesciunt saepe eaque magni. Expedita, veritatis!</p>
    <ol>
        <li>lorem lorem lorem</li>
        <li>lorem lorem lorem</li>
        <li>lorem lorem lorem</li>
    </ol>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi officiis iste omnis repellendus iure maiores quis doloribus vitae blanditiis! Cupiditate quod asperiores sequi quasi quo libero nulla quos odit nemo.</p>
    <strong><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, blanditiis</h2></strong>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae, ipsa repudiandae dolore, corporis reiciendis commodi quam aliquam odit consectetur alias dicta, cupiditate a aliquid ea velit. Ullam, suscipit quia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem inventore, quis eius hic vitae neque. Deserunt laborum error ea ipsum soluta debitis delectus, consequuntur similique, numquam, veritatis at eveniet odio.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos, quisquam tenetur optio, veritatis neque dolorem reiciendis veniam beatae, nulla alias non minus officia exercitationem doloribus quod est magni! Ipsam.</p>
    <p align=justify>_________________________________________________________________</p>
    <a href="www.facebook.com"><img src="img/facebook.svg" width=50 class="media-object  img-responsive img-thumbnail"></a>
    <a href="www.instagram.com"><img src="img/instagram.svg" width=50 class="media-object  img-responsive img-thumbnail"></a>
    <a href="www.linkedin.com"><img src="img/linkedin.svg" width=50 class="media-object  img-responsive img-thumbnail"></a>
    <a href="www.youtube.com"><img src="img/youtube.svg" width=50 class="media-object  img-responsive img-thumbnail"></a>
</body>
</html>

